{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        {% if user.is_authenticated %}
            <form action="{% url 'post' %}" method="POST">
                {% csrf_token %}
                    {{form}}
                <button type="submit" class="btn btn-primary" style="margin-top: 5px;">Submit</button>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{% static 'network/network2.js' %}"></script>
    <!-- <script src="{% static 'network/network.js' %}"></script> -->
{% endblock%}