{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <div>
            This is {{userPage}}'s profile!
        </div>
        <div>
            Followers: {{followers}}
            <br>
            Following: {{following}}

        </div>
        <div>
            {% if user.is_authenticated and request.user != userPage%}
                {%if not followBool %}
                    <a href="{% url 'follow' userPage%}">
                        <button type="button" class="btn btn-info">Follow</button>
                    </a>
                {% else %}
                    <a href="{% url 'follow' userPage%}">
                        <button type="button" class="btn btn-info">Unfollow</button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock%}